@import "./variables";

.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}
.home-title {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  gap: 1rem;
  margin-top: 5rem;
}

.home-social {
  position: absolute;
  left: -0.8em;
  top: 2.78em;
}

.name-color {
  color: $button-color;
}

.button {
  display: inline-block;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  background-color: $button-color;
  transition: 0.3s;
}

.button-linked {
  display: flex;
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section-title {
  position: relative;
  font-size: 2rem;
  color: $button-color;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.border-bottom {
  // height: 2em;
  margin-top: -2.6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5.5em;
  border-bottom: 3px solid $button-color;
}

.project {
  align-items: center;
}

.svg-icon {
  filter: brightness(0) invert(1);
  height: 1.2rem;
  width: 1.5rem;
  position: absolute;
  padding-left: 0.5em;
  padding-top: -0.5em;
}

.social-container {
  border: solid 1px black;
}
