@import "./header";
@import "./variables";
@import "./home";
@import "./skills";
@import "./footer";

* {
  font-family: "Montserrat", sans-serif;
}

html:root {
  background-color: #f2e9e4;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-size: 1rem;
}

.only-main {
  overflow-x: hidden;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: 5em;
    right: 20em;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    transition: 1s;
    background-color: $nav-color;
    transform: translateX(100%);
    transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    color: $nav-color;
  }

  .nav-item {
    margin-bottom: 2rem;
  }

  .hide {
    display: none;
  }

  .nav-link {
    color: #fff;
  }

  .home-social {
    // border: 1px solid black;

    display: flex;
    left: 0;
    width: 50vw;
    height: 51vh;
    align-items: flex-end;
    // justify-content: space-around;
    // left: 8em;
    // top: 13em;
  }
}

@media (max-width: 868px) {
  .skills-data {
    width: 25vw;
  }
  .border-bottom {
    margin-top: -1.9em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5.5em;
    border-bottom: 3px solid $button-color;
  }
}

@media (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .home {
    padding: 10rem 0 2rem;
  }
}

@media (min-width: 768px) {
  .home {
    padding: 8rem 0 2rem;
  }

  .nav {
    height: 4.5rem;
  }

  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }

  .nav-list {
    display: flex;
    padding-top: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

  .section-title {
    margin-bottom: 3rem;
  }
  body {
    margin: 0;
  }

  .nav-toggle {
    display: none;
  }
  .nav-item {
    margin-left: 1rem;
    margin-bottom: 0;
  }
}

@media (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
}
